@import "../../../styles/variables.scss";

.header-top {
  background: rgb(231, 96, 18);
  background: linear-gradient(
    36deg,
    rgba(231, 96, 18, 1) 0%,
    rgba(138, 50, 200, 1) 100%
  );
  padding: 20px 0px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;

    .logo-link {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header-center {
      display: flex;
      align-items: center;
      gap: 20px;
      flex: 1;

      .catalog-btn {
        padding: 15px 20px;
        border: 2px solid white;
        border-radius: 30px;
        color: white;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 18px;
        cursor: pointer;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .icon-menu {
          font-size: 22px;
        }
      }

      .input-search {
        width: 100%;
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        .search-icon {
          background-color: $color-crimson;
          position: absolute;
          top: 50%;
          right: 0px;
          transform: translateY(-50%);
          width: 50px;
          height: 100%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 25px;
          cursor: pointer;
        }

        input {
          display: block;
          width: 100%;
          padding: 13px 70px 13px 20px;
          border: none;
          font-size: 17px;
        }
      }
    }

    .header-right {
      display: flex;
      align-items: center;
      gap: 20px;

      &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: white;

        &.active {
          color: rgb(160, 253, 253);

          .icon {
            color: rgb(160, 253, 253);
          }
        }

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          font-size: 32px;
          color: white;

          .counter {
            position: absolute;
            top: -10px;
            right: -10px;
            background-color: $color-black;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px 7px;
            color: white;
            border-radius: 5px;
            font-size: 12px;
          }
        }

        .text-link {
          font-size: 16px;
        }
      }
    }
  }
}
